:root {
    --main-color: #FFF;
    --main-font-family: 'Inter', sans-serif;
    --conversion-main-background: #6943FF;
  }

body {
    margin: 0;
}

.conversion-main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--conversion-main-background);
    color: var(--main-color);
    font-family: var(--main-font-family);
}

.main-headline {
    font-weight: 800;
    font-family: inherit;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
}

.conversion-value {
    border: 2px solid #B295FF;
    background-color: var(--conversion-main-background);
    color: var(--main-color);
    border-radius: 5px;
    width: 117px;
    height: 84px;
    text-align: center;
    font-weight: 800;
    font-size: 48px;
   

    margin-bottom: 25px;
}

.convert-button {
    color: #3D3D3D;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    width: 117px;
    height: 42px;
    margin-bottom: 34px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.convert-button:hover {
    font-weight: bold;
    background-color: #dacffa;
    cursor: pointer;
}

.convert-button:active {
    font-weight: bolder;
    background-color: #9d88dd;
    cursor: pointer;
    
}

.converted-value-container {
    font-family: var(--main-font-family);
    background-color: #1F2937;
    color: var(--main-color);
    padding: 50px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.converted-title {
    color: #CCC1FF;
}

.card {
    background-color: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    padding: 1px;
    margin-bottom: 3%;
    text-align: center;
}